# Make vim the default editor
export EDITOR="code"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

export LANG="es_ES"
export LC_ALL="es_ES.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -RFX"

#android NDK
export NDK='/Users/oscarchavarria/Library/Android/sdk/ndk-bundle'
export ANDROID_NDK='/Users/oscarchavarria/Library/Android/sdk/ndk-bundle'
export ANDROID_SDK='/Users/oscarchavarria/Library/Android/sdk'  
export ANDROID_SDK_ROOT='/Users/oscarchavarria/Library/Android/sdk'  
export ANDROID_HOME='/Users/oscarchavarria/Library/Android/sdk' 

export JAVA_HOME='/Library/Java/JavaVirtualMachines/jdk1.8.0_162.jdk/Contents/Home' 